.post-header {
  display: flex;
  justify-content: space-between;
}

.post-header {
  display: flex;
  padding-top: 5px;
}

.signature {
  margin-left: 5px;
  font-style: italic;
}

.list-group-item {
  margin-top: 10px;
}
